<form action='/adding' method="post">
  <label for='amount'>Amount:</label>
  <input type='text' id="amount" name="amount" />
  <label for="description">Description:</label>
  <input type="text" id="description" name="description" />
  <label for="account">Account:</label>
  <input type="text" id="account" name="account" />
  <input type="submit" value="Submit">
</form>
